/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.6;
  color: #222;
  background-color: rgba(255, 255, 255, 0.7);
}

.site-header {
  position: fixed;          /* stays visible */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 10px;

  background: transparent;  /* KEY */
  backdrop-filter: blur(6px);
  pointer-events: none;     /* prevents blocking content */
}

.nav {  
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto; 
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500; 
  gap: 70px; 
      /* re-enable clicks */
}

.nav-links { 
  margin-left: 10%; 
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 17px;
  font-weight: 500;
}

.btn {
  text-decoration: none;
  font-size: 15px;
  padding: 6px 14px;
  border-radius: 999px;
  font-weight: 500;
}

.btn.ghost {
  color: white;
  background: rgba(255,255,255,0.08);
}

.btn.primary {
  background: white;
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 25px;
  gap: 10px;
   height: 30px;
}
.logo img {
  height: 30px;
}
a {
    text-decoration: none;
    color: inherit;
   
}

/* Hero Section */
main .hero {
  display: flex;   
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;   
  color: #ffffff;
  background-size: cover;
  padding-top: 6.5rem;
  padding-bottom: 4.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
  overflow: hidden;
}

.bg-image-hero { 
  position:absolute; 
  inset: 0;
  background-image: url("/assets/bg-light.svg"); 
  z-index: -1;
  pointer-events: none;
  background-size: cover;
  overflow: hidden;  
  background-position: center -30%;  
}


.pill-cta {
  position : absolute ;
  top: 50px;
  left: 50%; 
  transform: translateX(-50%);
  display: inline-flex;
  align-items: center;
  gap: 10px;  
  padding: 6px 14px;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  text-decoration: none;
  color: #ffffff;  
  margin-top: 3rem;   
}
.pill-cta svg {
  width: 12px;
  height: 12px;
  fill: #ffffff;  }
pill-cta:hover {
  background: rgba(255, 255, 255, 0.25);
}

.pill-badge {  
  padding: 3px 10px;
  border-radius: 999px;
  background-color: #2e8035;
  
  font-size: 10px;
  font-weight: 600;
  
}

.pill-text {
  margin: 0;
  white-space: nowrap;
  font-size: 12px;
 
}
@media (min-width: 768px) {
  .pill-text {
    font-size: 14px;
  }
  .hero {
    padding-bottom: 6rem;
  }
  .c2 {
    font-size: 1.125rem;
  }
}


main .c2 {
  max-width: 43rem;
  width: 100%;
  font-size: clamp(2.25rem, 5vw, 3.5rem);
  font-weight: 600;
  line-height: 1.2;
  margin-top: 4rem;
  background-size: 120% auto; 
  
}

main .c3 {
  max-width: 29.5rem;
  
  margin-top: 1.5rem;
  font-size: 1rem;
  
  line-height: 1.5;
  opacity: 0.9;
}


/* Form container */
.email-form {
  margin-top: 2rem;

  display: flex;
  align-items: center;
  gap: 6px;

  width: 100%;
  max-width: 22.5rem;

  padding: 4px;
  border-radius: 999px;

  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.15);
}

/* Input */
.email-form input {
  flex: 1;
  height: 36px;

  padding: 0 14px;
  border: none;
  outline: none;
  background: transparent;

  color: #fff;
  font-size: 14px;
  font-weight: 500;  
}

.email-form input::placeholder {
  color: rgba(255, 255, 255, 0.55);
}

/* Button */
.email-form button {
  height: fit-content;
  padding: 4.5px 12px;

  border-radius: 999px;
  border: 1px solid #ffffff;

  background: #ffffff;
  color: #000000;

  font-size: 15px;
  font-weight: 500;

  cursor: pointer;
  white-space: nowrap;

  transition: background 0.15s ease;
}

.email-form button:hover {
  background: rgba(255, 255, 255, 0.85);
}


.hero-image {
  width: 100%;
  display: block;
  max-width: 67.5rem;
  margin-top: 4rem;

  border-radius: 16px;  
}

/*hero section end*/


.wordmark {
  display: flex;
}

.wordmark img {
  height: 30px;
}

.center-links {
  display: flex;
  gap: 20px;
  margin-left: 70px;
  font-size: large;
  align-items: center;
  justify-content: center;
}

.center-links a {
  text-decoration: none;
  color: rgb(253, 253, 253);
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.center-links a:hover {
  color: rgb(193, 190, 190);
}

.navbuttons {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  /* padding: 10px; */
}

.navbuttons button {
  padding: 8px;
  /* border: 0.5px; */
  /* border: white */
  border-radius: 10px;

  border-color: transparent;
  font-weight: bold;
  transition: transform 0.4s ease;
}
.navbuttons button:hover {
  transform: scale(1.1);
}

#gsx1 {
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.2);

  color: white;
}
#gsx1:hover {
  border: 1px rgb(255, 255, 255) solid;
  /* background-color: red; */
  background-color: transparent;
  color: rgb(255, 255, 255);
}

.slab {
  color: white;
  display: flex;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  margin-top: 40px;
  gap: 10px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  transition: transform 0.3s ease;
}

#gsx3 {
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 10px;
  color: rgb(254, 254, 254);
  border: rgb(24, 226, 153);
  background-color: rgb(64, 189, 143);
  text-align: center;
  transition: transform 0.3s ease;
}

.slab:hover {
  transform: scale(1.1);
}

#gsx3:hover {
  transform: scale(1.1);
  background-color: rgb(5, 122, 79);
}

.slab2 {
  display: block;
  text-align: center;
  /* border: 2px black solid; */
  margin-top: 60px;
}

.email-container {
  width: 30%;
  margin: 40px auto;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  gap: 10px;
  align-items: center;
}

.email-container input {
  flex: 1;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
}

.email-container input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.send-btn {
  padding: 10px 20px;
  background-color: rgba(246, 244, 244, 0.61);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
}

.send-btn:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.heroimg {
  text-align: center;
  margin-top: 30px;
}

.heroimg img {
  border-radius: 20px;
}

.companies {
  width: 100%;
  background: #ffffff;
  padding: 48px 0;
  display: flex;
  justify-content: center;
}

.companies img {
  max-width: 900px;
  width: 100%;
}

.slab3 {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 20px;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-align: center;
}

.slab3 h3,
.slab6 h3,
.slab7 h3 {
  font-size: 40px;
}
.slab3 p {
  font-size: 15px;
  width: 100%;
  color: grey;
  margin-top: -10px;
}

.slab4 {
  display: flex;
  justify-content: center;
  gap: 130px;
  margin-top: 60px;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.slab4 p,
.slab5 p,
#slab62 {
  color: gray;
  font-size: 20px;
}
.slab4 h4,
.slab5 h4 {
  font-size: 25px;
  margin: -5px 0px -3px 0px;
}
#slab412,
#slab51,
#slab61 {
  font-size: 15px;
  color: darkgreen;
}
.loader1 {
  text-align: center;
  margin-top: 50px;
}
.slab5 {
  text-align: center;
  margin-top: 50px;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}
.slab6 {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.newbut button {
  padding: 10px;
  border-radius: 35px;
  border-color: rgba(250, 235, 215, 0);
  background-color: rgb(0, 0, 0);
  color: white;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  margin-top: 60%;
  transition: transform 0.3s ease;
}
.newbut button:hover {
  background-color: rgba(0, 0, 0, 0.77);
  transform: scale(1.1);
}
.darkimg {
  position: relative;
  margin-top: 40px;
  text-align: center;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}
.darkimg img {
  border-radius: 30px;
  justify-content: center;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.darkimg img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

#qw1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  margin: 0;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.slab7 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}
.slab7 p {
  font-size: 20px;
  margin-top: 15px;
}

.slab8 {
  display: flex;
  width: 26%;
  gap: 10px;
  
  margin: auto;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;

 margin-top: 40px;
  
}
.slab8 button {
  padding: 10px;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  border-color: rgba(0, 0, 0, 0.001);
  border-radius: 30px;
  font-size: 20px;
  background-color: black;
  color: white;
  transition: transform 0.3s ease;
  /* justify-content: center; */
}

.slab8 button:hover {
  
  transform: scale(1.1);
  background-color: white;
  color: black;
  border-color: black;
}

.footer {
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
  padding: 60px 40px;
  background-color: rgba(0, 0, 0, 0.05);
  margin-top: 60px;
  gap: 220px;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-column h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #111;
}

.footer-column a {
  text-decoration: none;
  color: #555;
  font-size: 14px;
  transition: color 0.2s ease;
}

.footer-column a:hover {
  color: #000;
}

.foot{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color: #333333af;
    margin: auto;
}